.cards {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.loading {
    pointer-events: none;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 767px){
    .cards {
        width: 100%;
    }
    .loading {
        width: 100%;
    }
}