.card {
    border: 1px solid white;
    background-color: #ffe0ac;
    display: flex;
    justify-content: center;
}
.showedCard {
    width: 80%;
    user-select: none;
}
.closedCard {
    display: none;
}
.openedCard {
    background-color: transparent;
}
