.pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #ff9472, #f2709c);
}
.title {
    composes: largeText from '../../index.css';
}
.rules {
    composes: smallText from '../../index.css';
}

