.pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #ff9472, #f2709c);
}
.title {
    padding-top: 100px;
    composes: largeText from '../../index.css';
}
.rules {
    composes: smallText from '../../index.css';
}
@media screen and (max-width: 767px){
    .rules {
        padding: 0 10px;
        text-align: center;
    }
}
