body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.largeText {
  font-family: 'Denk One', sans-serif;
  font-size: 60px;
  margin-bottom: 50px;
  letter-spacing: 0.093em;
  text-shadow: 2px 3px 0px white;
}

.smallText {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}
